
$c1: #989999;
$c2: #3a3f51;
$c3: #6b767e;
$c4: #768e91;
$c5: #84a9a3;

$primary-color: #0380cd;
$secondary-color: #bce3ec;
$dark-gray: #90909b;

$background-color: #999999;
$btn-knwldg: blue;
$page-height: 60vh;
$mobile-app-icon-bar-bg: white;
$mobile-app-icon-bar-icon-size: 2rem;
$highlight: $primary-color;

$base-grid: true;
$margin-grid: true;
$padding-grid: true;
$block-grid: true;
$collapse: true;
$offset: true;
$vertical-grid: true;
$frame-grid: true;

$html5: #DD4B25;
$css3: #254BDD;
$sass: #C76494;
$scss: #C76494;
$vue: #3FB27F;
$react: #05A5D1;
$angular: #D61A15;
$javascript: #EFD81D;
$typescript: #2F74C0;
$nodejs: #3A8338;
$php: #7377AD;
$firebase: #F79B00;
$sql: #0075CF;
$c: #642076;
$unity: #100B09;
$bootstrap: #533B78;
$threejs: #212121;
$un4: #000000;
